.heading{
color:darkmagenta;
font-size:3em;
padding-bottom:26px;
}
body{
font-family:sans-serif;
color:#00BFFF;
font-size:1em;
}
.orangred{
color:orange;
font-size:0.9em;
}
.background{
float:left;
width:38em;
height:28em;
}
.bluee{
color:darkorange;

}
.button{
color:white;
background-color:#FF4500 ;
border-radius:80px;
padding:1px 42px 1px 42px;
text-decoration:none;
font-size:2em;
float:left;
}
html { 
background-color:black;
}
p{
font-size:1.3em;
}
header{
font-size:1.3em;
background-image:url("background.jpg");
}
.about{
color:orange;
font-size:2em;
margin-left:13px;
border-radius:30px;
padding-left:13px;
background-color:peachpuff;
}
.side-img{
width:66em;
}
.imruu{
font-size:1.3em;
}
.middle{
color:steelblue;
}
footer{
color:lightgreen;
}
.buttone{
color:white;
background-color:#FF4500 ;
border-radius:80px;
padding:13px 42px 13px 42px;
text-decoration:none;
font-size:2.3em;
float:left;
margin-bottom:1em;
}